<nav class="userNav">
    <ul class="userNavList">
        
        <li><a class="userNavLink" href="{% url 'user_rents' %}">My library</a></li>
        <li><a class="userNavLink" href="{% url 'user_history' %}">My history</a></li>
        <li><a class="userNavLink" href="{% url 'user_favorites' %}">My favorites</a></li>
        <li><a class="userNavLink" href="{% url 'user_membership' %}">Membership</a></li>
        <li><a class="userNavLink" href="{% url 'user_wallet' %}">My wallet</a></li>
        <li><a class="userNavLink" href="{% url 'user_settings' %}">Settings</a></li>
    </ul>
</nav>