{% extends "base/base.html" %}

{% block main %}
     <h1 class="pageTitle">Products</h1>
     <ul class="productsList">
          {% for m in movies %}
               <li class="productItem">
                    <h3 class="productTitle">{{m.title}}</h3>
                    <span class="supportText">{{m.year}}</span>
                    <p class="productDescription">{{m.description}}</p>

                    <span class="supportText">Rating: {{m.rating}}</span>
                    {% if m.isInStock %}
                         <span class="supportText">{{m.price}} CZK</span>
                    {% else %}
                         <span class="supportText">Not available</span>
                    {% endif %}
                    <a class="btnLink" href="{% url 'product_detail' pk=m.id%}">See more</a>
               </li>
          {% empty %}
            <h2>Sorry, no movies available now...</h2>
          {% endfor %}
     </ul>
{% endblock main %}